/**
 * @Date: 2020-12-24 18:16:57
 * @author: zjs
 * @description: 常用距离
 */
$boxConfig : (
  ml:'margin-left',
  mr:'margin-right',
  mt:'margin-top',
  mb:'margin-bottom',
  pl:'padding-left',
  pr:'padding-right',
  pt:'padding-top',
  pb:'padding-bottom',
);

@each $item,
  $attr in $boxConfig {
  @for $el from 1 to 11 {
    .#{$item}__#{$el*10} {
      #{$attr}: $el*10px !important;
    }
  }
}
